/* .weapon-detail-card img{
    filter: invert(100%) hue-rotate(280deg);
} */
.officer img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.officer{
    background-color: var(--hover-blue);
}

.modal-content{
    background: var(--hover-blue) !important;
    color: #fff !important;
    border-radius: 20px !important;
}
.modal-content .form-control{
    background-color: var(--dark-blue) !important;
    color: #fff !important;
}
.modal-content .form-control::placeholder{
    color: #fff !important;
}